<script type="text/javascript">
  <% if current_user %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>
<script src="https://use.fontawesome.com/59451b7352.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<main id="root"></main>
