html {
  position: relative;
  height: 100%;
}

body {
	width: 100%;
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;
}

h1, h2, h3, h4, h5 {
	font-weight: 100;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
}

nav {
  font-family: 'Josefin Sans', sans-serif;
}

button {
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  background-color: inherit;
  box-shadow: $shadow;
  text-transform: uppercase;
  border: none;
  padding: 10px;
  text-align: center;
  align-items: center;
}

button:hover {
  -webkit-filter: $brightness;
  filter: $brightness;
  box-shadow: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
