html {
  position: relative;
  height: 100%;
  background-image: url(http://www.transparenttextures.com/patterns/green-dust-and-scratches.png)
  // background-color: snow;
  // background: snow; /* For browsers that do not support gradients */
  // background: -webkit-linear-gradient(left, snow, white); /* For Safari 5.1 to 6.0 */
  // background: -o-linear-gradient(right, snow, white); /* For Opera 11.1 to 12.0 */
  // background: -moz-linear-gradient( right, snow, white); /* For Firefox 3.6 to 15 */
  // background: linear-gradient(to right, snow, white); /* Standard syntax */
  // background: url(http://res.cloudinary.com/fafafariba/image/upload/v1490331276/Subtle-Light-Tile-Pattern-Vol5_bxzpkr.jpg)
  // no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
}

body {
	width: 100%;
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  background: transparent;
}

h1 {
  font-size: 40px;
}

h2{
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

nav {
  font-family: 'Lato', sans-serif;
}

button {
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  background-color: inherit;
  box-shadow: $button-shadow;
  text-transform: uppercase;
  border: none;
  padding: 10px;
  text-align: center;
  align-items: center;
  background-image: url(http://res.cloudinary.com/fafafariba/image/upload/v1489953936/button-texture_d6aobr.png);
}

button:hover {
  -webkit-filter: $brightness;
  filter: $brightness;
  box-shadow: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: rgb(89, 159, 168);
}

a:hover {
  color: rgba(89, 159, 168, .6);
}

i:hover {
  cursor: pointer;
}

.errors {
  color: mediumturquoise;
}
