html {
  position: relative;
  height: 100%;
}

body {
	width: 100%;
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 40px;
}

h2{
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

nav {
  font-family: 'Lato', sans-serif;
}

button {
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  background-color: inherit;
  box-shadow: $button-shadow;
  text-transform: uppercase;
  border: none;
  padding: 10px;
  text-align: center;
  align-items: center;
  background-image: url(http://res.cloudinary.com/fafafariba/image/upload/v1489953936/button-texture_d6aobr.png);
}

button:hover {
  -webkit-filter: $brightness;
  filter: $brightness;
  box-shadow: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: rgb(89, 159, 168);
}

a:hover {
  color: rgba(89, 159, 168, .7);
}
