h1, main, section, div, ul, li, label, form {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}
