
//TODO: How to style modal?

Modal {
  background-color: blue;
}

.splash-nav {
  background-color: yellow;
}

.splash-nav modal{
  background-color: red;
}

.splash-nav Modal{
  background-color: purple;
}

.ReactModal {
  background-color: green;
}
