
//TODO: How to style modal?

.splash-nav-modal  {
  background-color: gray;
}

Modal {
  background-color: blue;
}

.splash-nav modal{
  background-color: red;
}

.splash-nav Modal{
  background-color: purple;
}

.ReactModal {
  background-color: green;
}
