.all-podcasts {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.all-podcasts-header {
  border-bottom: 1px solid black;
}

.all-podcasts-header h2{
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
}

.podcasts{
  display: flex;
  justify-content: flex-end;
}

.podcasts > ul{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  align-self: flex-end;
}

.podcasts > ul >li:not(:last-child) {
  margin-right: 30px;
}

.podcasts p {
  font-size: 14px;
  font-style: italic;
  font-weight: lighter;
  color: darkgray;
  letter-spacing: 2px;
}

.podcast-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
