
.home {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
}

.home-header ul{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid black;
  padding: 0;
  margin-top: 50px;
}


.home-header li{
  padding: 0;
  margin: 0;
}

.home-header h2 {
  background-color: white;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
}

.home-header a{
  font-size: 16px;
  margin-right: 10px;
}

.home-header a:hover{

}

.podcasts{
  display: flex;
  justify-content: flex-end;
}

.podcasts > ul{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  align-self: flex-end;
}

.podcasts > ul > li{
}

.podcasts > ul >li:not(:last-child) {
  margin-right: 30px;
}

.podcasts p{
  font-size: 14px;
  font-style: italic;
  font-weight: lighter;
  color: darkgray;
  letter-spacing: 2px;
}

.podcast-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.podcast-img{
  border: 1px solid gray;
  height: 180px;
  width: 180px;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
  box-shadow: $gray-shadow;
}

.podcast-overlay {
  position: absolute;
  width: 182px;
  height: 182px;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.podcast-overlay i {
  color: rgba(255, 255, 255, .8);
  font-size: 100px;
  margin:0 auto;
}

.podcast-img:hover .podcast-overlay{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: none;
}

.podcast-link {
  display: inline-block;
}

.podcast-link a{
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  -webkit-filter: $brightness;
  filter: $brightness;
}

.slick-track {
  min-width: 0;
  min-width: 0;
  margin: 0 10px;
  height: 100%;
  position: relative;
}


.slick-slide.slick-active.carousel-cell div{
  background-color: blue;
  height: 250px;
  width: 250px;
  margin-right: 15px;
  margin-left: 15px;
}

.carousel-cell ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.carousel-cell img {
  position: relative;
  background-color: red;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border: 1px solid darkgray;
  box-shadow: $black-shadow;
  z-index: 0;
  margin-bottom: 10px;
}



.carousel-overlay i{
  margin: 0 auto;
}

.carousel-cell img:hover {
  display: inline-block;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.carousel-overlay img:hover{
  // background-color: rgba(0, 0, 0, 0.5);
}

.carousel-link a {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

/****************************
ABOVE 480
****************************/

// @media screen and (min-width: 481px) {




/****************************
ABOVE 860
****************************/

// @media screen and (min-width: 861px) {
