.main-nav {
  display: flex;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  opacity: .9;
  background: url(http://res.cloudinary.com/fafafariba/image/upload/v1489953939/nav-texture_oqaebq.png);
  background-color: #171717;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  box-shadow: $black-shadow;

}

.left-nav {
  display: flex
}

.left-nav h1 {
  color: white;
  text-transform: uppercase;
  margin-left: 50px;
  letter-spacing: 10px;
}

.right-nav ul {
  display: flex;
  color: white;
  justify-content: flex-end;
  margin-right: 50px;
  align-items: baseline;
  color: white;
  font-size: 25px;
}

.right-nav li {
  font-size: 18px;
  margin-left: 20px;
}

.right-nav li i:first-of-type{
  font-size: 25px;
  align-self: baseline;
}
.right-nav li a {
  color: white;
}
.right-nav #navicon {
  font-size: 25px;
  margin-left: 25px;
  position: relative;
}

.right-nav #navicon:hover {
  cursor: pointer;
}


.settings-menu {

  position: absolute;
  top: 45px;
  width: 150px;
  right: 0px;
  background-color: $black;
  box-shadow: $black-shadow;
}

.settings-menu ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
}

.settings-menu li {
  width: 100%;
  text-align: right;
  background-color: $black;
  margin-bottom: 0px;
  border-top: 1px solid white;
  padding: 7px;
  margin: 0px;
}

.settings-menu a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px;
}

.settings-menu > li > a {
  width: 100%;
  text-decoration: none;
  font-size: 16px;
  background-color: purple;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  .fa {
    display:inline-flex;
  }
}
.settings-menu a:hover{
  -webkit-filter: $brightness;
  filter: $brightness;
}

.sub-nav {
  border-bottom: 1px solid silver;
  margin-left: 50px;
  margin-right: 50px;
}

.sub-nav ul{
  margin-top: 80px;
  margin-left: 0;
  display: flex;
  color: rgb(209, 207, 204);
  justify-content: flex-start;
}

.sub-nav li {
  margin-right: 20px;
}

.sub-nav li:hover {
  cursor: pointer;
  -webkit-filter: brightness(.75);
  filter: brightness(.75);
}

.sub-nav a{
  color: silver;
}

#headphones i:hover {
  cursor: default;
}
