.playlists {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
}

.playlists header {
  border-bottom: 1px solid black;
}

.playlists header h2 {
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
}

.playlists header > ul {
  display: flex;
  justify-content: space-between;
}

.playlists header > ul > li > button {
  background-color: mediumturquoise;
  opacity: .8;
  font-weight: bold;
  font-size: 14px;
  color: white;
  border: $gray;
  top: 160px;
  right: 50px;
  margin-right: 5px;
  position: absolute;
}

.playlists nav {
  margin-top: 20px;
}

.playlists p { //inside collapsible
  margin-left: 20px;
}


.Collapsible.playlists-collapsible {
  background-color: WhiteSmoke;
  box-shadow: $gray-shadow;
  border-top: 1px solid $gray;
  padding: 0;
  min-width: 590px;
  height: 40px;
}


//Modal Styling

.modal-playlist-form form{
  display: flex;
  flex-direction: column;
  width: 207px;
}

.modal-playlist-form input {
  margin-top: 30px;
  margin-bottom: 10px;
}

.outer-modal-button {
  background-color: $black;
  color: white;
  font-size: 14px;
  width: 193.125px;
  height: 17px;
  padding: 7px;
  margin: 0 auto;
}

.ReactModal__Content.ReactModal__Content {
  background-color: yellow;
}

#playlist-nav-modal-button {
  margin: 20px 0;
  background-image: url(http://res.cloudinary.com/fafafariba/image/upload/v1489953936/button-texture_d6aobr.png);
  background-color: $black;
  font-weight: bold;
  font-family: "Lato";
  color: white;
  border: none;
  text-transform: uppercase;
  box-shadow: 4px 4px 5px #888888;
  margin-left: 0px;
  font-size: 14px;
  padding: 7px;
  width: 207px;

}
#playlist-nav-modal-button:hover {
  -webkit-filter: $brightness;
  filter: $brightness;
  box-shadow: none;
  cursor: pointer;
}

.playlists i:hover{
  -webkit-filter: brightness(.6);
  filter: brightness(.6);
  opacity: .5;
  text-shadow: $black-shadow
}
