.playlists {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
}

.playlists header {
  border-bottom: 1px solid black;
}

.playlists p {
  margin-left: 20px;
  color: darkgray;
}

.playlists h2, h3{
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
}
