.Collapsible {
  box-shadow: $gray-shadow;
  margin-left: 20px;
  margin-right: 50px;
  align-items: center;
  min-width: 590px;
}

.Collapsible h4{
  margin: 0;
  padding: 0;
  position: relative;
}

.playlists.Collapsible.collapsible {
  margin-left: 20px;
  margin-right: 50px;
}

nav > div > div > .Collapsible__trigger,
nav > div > div > .Collapsible__contentOuter {
  display: flex;
  align-items: center;
  margin-left: 20px;
  transition: none;
}

.play-all-button-container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 550px;
}

#play-all-button {
  background-color: $black;
  color: white;
  font-size: 14px;
  margin-right: 20px;
  margin-bottom: 20px;
}


.Collapsible span h4:hover,
.collapsible span h4:hover{
  -webkit-filter: $brightness;
  filter: $brightness;
  cursor: pointer;
}

.Collapsible.playlists-collapsible span:hover,
.Collapsible__trigger.is-open:hover{
  cursor: pointer;
}

.Collapsible__trigger{
  height: 40px;
}

.Collapsible__contentInner {
  margin-left: 20px;
}

.track ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $gray;
  margin-right: 20px;
}

.track p{
  font-size: 16px;
}

.track i{
  font-size: 20px;
}

.track-thumb {
  width: 50px;
}

.track-thumb img {
  height: 50px;
  // margin-right: 20px;
  // width: 50px;
}

.track.track-thumb > li {
  flex: 2;
}

.track-title {
  flex: 3;
}
.track-duration {
  flex: 1;
}
.track-play i{
  margin-right: 30px;
}
.track-delete {
  flex: 1;
}

.track-row-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: green;
  margin-right: 20px;
}

.delete-playlist i {
  margin-right: 5px;
}

.delete-playlist:hover {
  -webkit-filter: $brightness;
  filter: $brightness;
  cursor: pointer;
}
