
.audio-player {
  display: -webkit-box;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  height: 60px;
  background: url(http://res.cloudinary.com/fafafariba/image/upload/v1489953939/nav-texture_oqaebq.png);
  background-color: $black;
  width: 100%;
  position: fixed;
  bottom: 0;
  font-family: 'Lato', sans-serif;
  color: white;
}

.audio-player ul {
  display: flex;
  // align-items: center;
}

.audio-player li {
  display: flex;
  align-items: center;
}
.audio-player img {
  width: 50px;
  height: 50px;
}

.play-controls {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
}

.play-controls i {
  padding-left: 11px;
  padding-right: 11px;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
  align-self: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  font-size: 40px;
  text-shadow: $black;
}

.play-controls i:hover{
  -webkit-filter: $brightness;
  filter: $brightness;
  text-shadow: none;
}

.audio-info-marquee {
  overflow:hidden;
  width: 270px;
}

.audio-info-marquee:hover {
  animation-play-state: paused;
}

.audio-info {
  white-space: nowrap;
  position: relative;
  height: 30px;
  animation-play-state: paused;
  animation: scroll 15s linear infinite;
  padding:3px;
}



@keyframes scroll {
0% {left:500px;}
100% {left:-500px;}
}

// .audio_player .audio_time_progress {
// margin-right: 20px;
// -ms-grid-row-align: center;
//     align-self: center;
// color: #fff;
// font-size: 23px; }
