.playlists {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
}

.playlists header {
  border-bottom: 1px solid black;
}

.playlists header h2 {
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
}

.playlists header > ul {
  display: flex;
  justify-content: space-between;
}

.playlists header > ul > li > button {
  background-color: mediumturquoise;
  opacity: .8;
  font-weight: bold;
  color: white;
  border: $gray;
  top: 160px;
  right: 50px;
  margin-right: 5px;
  position: absolute;
}

.playlists nav {
  margin-top: 20px;
}

.playlists p { //inside collapsible
  margin-left: 20px;
}

//
// .playlists h2, h3{
//   margin-left: 10px;
//   margin-top: 0;
//   margin-bottom: 5px;
//   padding: 0;
// }
//
.playlists.Collapsible {
// //   font-size: 20px;
// //   text-transform: uppercase;
// //   margin-left: 20px;
// //   padding: 2px;
}
//
.playlists.Collapsible span{
  margin-left: 10px;
}
//
// .all-episodes {
//   margin: 30px 50px 50px 30px;
// }
//
// .all-episodes-header li:first-of-type{
//   flex: 5;
// }
//
// .all-episodes-header li:not(:first-of-type){
//   flex: 2;
// }
//
// .all-episodes-header li:last-of-type{
//   flex: 1;
// }
//
// .all-episodes-header h4{
//   margin-left: 20px;
//   padding: 0;
// }
//
// .all-episodes-header h4:hover{
//   cursor: pointer;
// }
//
// .all-episodes-header p{
//   margin-left: 20px;
// }
//
//
// // .all-episodes-header > ul{
// //   display: flex;
// //   justify-content: space-between;
// //   align-items: center;
// //   height: 40px;
// // }
//
// // all-episodes-header ul li{
// //   border-bottom: 1px solid gray;
// // }
//
//
// // .all-episodes-header i{
// //   font-size: 20px;
// //   margin-right: 20px;
// // }
//
//
// .Collapsible {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   background-color: rgb(208, 213, 221);
//   box-shadow: $gray-shadow;
//   height: 40px;
//   margin-left: 20px;
//   margin-right: 50px;
// }
//
//
// .Collapsible.collapsible {
//   margin-left: 20px;
//   margin-right: 50px;
// }
//
// .Collapsible span,
// .collapsible span{
//   font-size: 18px;
//   margin-left: 20px;
// }
//
// .Collapsible span h4:hover,
// .collapsible span h4:hover{
//   -webkit-filter: $brightness;
//   filter: $brightness;
//   cursor: pointer;
// }
//
// .Collapsible__contentInner {
//   margin-left: 20px;
// }
//
//
// //TODO: WHYYYY???
// .playlist li ul:first-child {
//   border-top: 1px solid $gray;
//   background-color: yellow;
// }
//
// .track ul{
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   border-bottom: 1px solid $gray;
// }
//

.modal-playlist-form form{
  display: flex;
  flex-direction: column;
  width: 207px;
}

.modal-playlist-form input {
  margin-top: 30px;
  margin-bottom: 10px;
}

.outer-modal-button {
  background-color: $black;
  color: white;
  font-size: 14px;
  width: 193.125px;
  height: 17px;
  padding: 7px;
  margin: 0 auto;
}

.ReactModal__Content.ReactModal__Content {
  background-color: yellow;
}

#playlist-nav-modal-button {
  margin: 20px 0;
  background-image: url(http://res.cloudinary.com/fafafariba/image/upload/v1489953936/button-texture_d6aobr.png);
  background-color: $black;
  font-weight: bold;
  font-family: "Lato";
  color: white;
  border: none;
  text-transform: uppercase;
  box-shadow: 4px 4px 5px #888888;
  margin-left: 0px;
  font-size: 14px;
  padding: 7px;
  width: 207px;

}
#playlist-nav-modal-button:hover {
  -webkit-filter: $brightness;
  filter: $brightness;
  box-shadow: none;
  cursor: pointer;
}

.playlists i:hover{
  -webkit-filter: brightness(.6);
  filter: brightness(.6);
  opacity: .5;
  text-shadow: $black-shadow
}
