.podcast-detail {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.podcast-detail-header {
  border-bottom: 1px solid black;
}

.podcast-detail-header h2, h3{
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
}

.profile > ul{
  display: flex;
  margin: 20px 50px 50px 50px;
  justify-content: center;
  align-items: flex-start;
}

.profile li {
  margin-right: 40px;
  padding: 0;
  height: 100%;
  // background-color: red;
  // width: 100%;
}

.profile img {
  width: 150px;
}

.profile p {
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
  height: 100%;
}

.buttons-descriptions ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttons-descriptions ul li ul{
  display: flex;
  flex-direction: row;
}

.buttons-descriptions button {
  background-color: $black;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
}

.profile i {
  color: black;
  font-size: 40px;
}

.profile i:hover {
  -webkit-filter: brightness(.6);
  filter: brightness(.6);
  text-shadow: $gray-shadow;
}

.lastest-pd > ul {
  display: flex;
  background: yellow;
  margin-left: 10px;
}

.latest-pd img {
  object-fit: cover;
  width:200px;
  height:200px;
}
