.podcast-detail {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
}

.podcast-detail-header {
  border-bottom: 1px solid black;
}

.podcast-detail-header h2, h3{
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
}

.profile > ul{
  display: flex;
  margin: 30px 50px 50px 50px;
  justify-content: center;
  align-items: flex-start;
  min-width: 500px;
}

.profile li {
  margin-right: 40px;
  padding: 0;
  height: 100%;
}

.profile img {
  width: 200px;
}

.profile p {
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
  height: 100%;
}

.buttons-descriptions > ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.latest-epsiode {
  min-width: 500px;
}

.latest-row-buttons ul,
.row-buttons ul{
  display: flex;
  flex-direction: row;
}

.buttons-descriptions button {
  background-color: $black;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
}


.row-buttons i, img {
  color: black;
  font-size: 40px;
}


.latest-row-buttons i:hover,
.row-buttons i:hover {
  -webkit-filter: brightness(.6);
  filter: brightness(.6);
  opacity: .5;
  text-shadow: $black-shadow;
}


.latest-episode > ul {
  display: flex;
  margin-left: 10px;
  margin: 30px 50px 50px 50px;
  justify-content: center;
  align-items: flex-start;
}

.latest-episode li{
  margin: 0;
  padding: 0;
}

.latest-episode h4{
  padding:0;
  margin: 0;
}

.latest-episode p{
  padding: 0;
  width: 100%;
  height: 100%;
}

.latest-episode img {
  position: relative;
  object-fit: cover;
  width:200px;
  height:200px;
  margin: 0px 30px;
}

.latest-row-buttons i {
  font-size: 22px;
  margin-right: 20px;
}

#plus {
  font-size: 25px;
}

.all-episodes {
  margin: 30px 50px 50px 30px;
}

.all-episodes-header li:first-of-type{
  flex: 5;
}

.all-episodes-header li:not(:first-of-type){
  flex: 2;
}

.all-episodes-header li:last-of-type{
  flex: 1;
}

.all-episodes-header h4{
  margin-left: 20px;
  padding: 0;
}

.all-episodes-header h4:hover{
  cursor: pointer;
}

.all-episodes-header p{
  margin-left: 20px;
}


.all-episodes-header > ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  min-width: 500px;
}

all-episodes-header ul li{
  border-bottom: 1px solid $gray;
}


.all-episodes-header i{
  font-size: 20px;
  margin-right: 20px;
}


.collapsible {
  background-color: WhiteSmoke;
  box-shadow: $gray-shadow;
  border-top: 1px solid $gray;
  padding: 0;
  min-width: 500px;
}

.Collapsible__trigger,
.Collapsible__contentOuter {
min-width: 500px;
}
.Collapsible__contentInner p {
  margin-left: 20px;
  margin-right: 30px;
  // min-width: 500px;
}

.Collapsible__trigger.is-open h4 {

}


// .thumb-overlay {
//   position: absolute;
//   top: 462px;
//   background-color: transparent;
//   width:200px;
//   height:200px;
// }
//
// .thumb-overlay {
//
// }
//
// .thumb-overlay i{
//   color: rgba(255, 255, 255, .8);
//   font-size: 100px;
//   margin:0 auto;
//
// }
