.splash-nav {
  display: flex;
  top: 0;
  flex-direction: row;
  position: fixed;
  height: 60px;
  width: 100vw;
  background: url(http://res.cloudinary.com/fafafariba/image/upload/v1489953939/nav-texture_oqaebq.png);
  // background: url(http://www.transparenttextures.com/patterns/asfalt-dark.png);
  background-color: $black;
  justify-content: space-between;
  align-items: center;
  z-index: 12;
  box-shadow: $black-shadow;
}

// .splash-nav img{
//   width: 97px;
// }

.splash-nav h1{
  color: white;
  text-transform: uppercase;
  margin-left: 50px;
  letter-spacing: 10px;
}

.splash-nav ul{
  display: flex;
  flex-direction: row;
  li:last-of-type {
    margin-right: 20px;
  }
  button {
    background-color: white;
    box-shadow: $gray-shadow;
    margin: 10px 7px;
    font-size: 16px;
  }
  button:hover{
    box-shadow: none;
  }
}

.modal a {
    margin-top: 20px;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.outer-modal-button {
  background-color: $black;
  color: white;
  font-size: 14px;
  width: 193.125px;
  height: 17px;
  padding: 7px;
  margin: 0 auto;
}



.splash-nav-modal-form {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: center;
  width: 100%;
  h2  {
    width: 100%;
    text-align: center;
    background-image: url(http://res.cloudinary.com/fafafariba/image/upload/v1489953936/button-texture_d6aobr.png);
    background-color: $black;
    color: white;
    padding: 7px;
    margin-bottom: 10px;
    margin-top: 0;
  }
  label {
    display: flex;
    align-items: center;
    margin: 0;

    p{
      margin-right: 10px;
      text-align: left;
      font-size: 14px;
    }
  }
  input {
    margin: 7px 0;
    width: 100%;
  }

  #splash-nav-modal-button {
    margin-top: 10px;
    background-image: url(http://res.cloudinary.com/fafafariba/image/upload/v1489953936/button-texture_d6aobr.png);
    background-color: $black;
    font-weight: bold;
    font-family: "Lato";
    color: white;
    text-transform: uppercase;
    padding: 7px;
    box-shadow: 4px 4px 5px #888888;
    font-size: 14px;
    margin-left: 0px;
    border: none;
    width: 193.125px;

  }
  #splash-nav-modal-button:hover {
    -webkit-filter: $brightness;
    filter: $brightness;
    box-shadow: none;
    cursor: pointer;
  }
}
