.splash-nav {
  display: flex;
  top: 0;
  flex-direction: row;
  position: fixed;
  height: 75px;
  width: 100vw;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  z-index: 12;
}

.splash-nav h1{
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  margin-left: 50px;
}

.splash-nav ul{
  display: flex;
  flex-direction: row;
  li:last-of-type {
    margin-right: 20px;
  }
  button {
    background-color: yellow;
    color: black;
    box-shadow: $shadow;
    margin: 10px 7px;
    font-size: 16px;
  }
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // max-height: 500px;
    // position: fixed;
    //   top: 0vh;
    //   left: 20vw;
    // width: 250px;
    // margin: 200px;
    // border: 1px solid #ccc;
    // background: #fff;
    // overflow: auto;
    // border-radius: 4px;
    // outline: none;
    // padding: 15px;
    // justify-content: center;
}
  #outer-modal-button {
    background-color: black;
    color: white;
    font-size: 14px;
    width: 193.125px;
    height: 17px;
    padding: 7px;
    margin: 0 auto;
  }



.splash-nav-modal-form {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: center;
  width: 100%;
  h1  {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    padding: 7px;
    margin-bottom: 20px;
  }
  label {
    display: flex;
    align-items: center;

    p{
      margin-right: 7px;
      text-align: left;
      text-transform: uppercase;
    }
  }
  input {
    margin: 7px 0;
    width: 100%;
  }

  #splash-nav-modal-button {
    margin-top: 20px;
    background-color: black;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding: 7px;
    box-shadow: 4px 4px 5px #888888;
    font-size: 14px;
    margin-left: 0px;
    border: none;
    width: 100%;

  }
  #splash-nav-modal-button:hover {
    -webkit-filter: $brightness;
    filter: $brightness;
    box-shadow: none;
    cursor: pointer;
  }
}
