.subscriptions {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.subscriptions-header {
  border-bottom: 1px solid black;
}

.subscriptions-header h2{
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
}

.podcasts{
  display: flex;
  justify-content: flex-end;
}

.podcasts > ul{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  align-self: flex-end;
}

.podcasts > ul >li:not(:last-child) {
  margin-right: 30px;
}

.podcasts p{
  font-size: 14px;
  font-style: italic;
  font-weight: lighter;
  color: darkgray;
  letter-spacing: 2px;
}

.podcast-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscriptions-podcast-img{
  border: 1px solid gray;
  height: 180px;
  width: 180px;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
  box-shadow: $gray-shadow;
}

.subscriptions-podcast-overlay {
  position: absolute;
  width: 182px;
  height: 182px;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.subscriptions-podcast-overlay i {
  color: rgba(255, 255, 255, .8);
  font-size: 80px;
}


.subscriptions-podcast-img:hover .subscriptions-podcast-overlay{
  display: flex;
  box-shadow: none;
}

.podcast-link {
  display: inline-block;
}

.podcast-link a{
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

a > i:hover {
  color: rgba(255, 255, 255, 1);
}
